.firewok-embed {
  padding: 3em 0; }
  .firewok-embed.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw); }
    .firewok-embed.alignfull .embed-container {
      margin: 0 2.617924em;
      /* re-create col-full */ }
      @media screen and (min-width: 768px) {
        .firewok-embed.alignfull .embed-container {
          margin: auto; } }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin: auto; }
  @media screen and (min-width: 425px) {
    .embed-container {
      max-width: 44.33263em; } }
  @media screen and (min-width: 768px) {
    .embed-container {
      padding-bottom: calc(66.4989378333em * 0.5625); } }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; }
